<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='group_project.css') }}">
     <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title> Group Project - index.html </title>
</head>
<body>
    
    <div id = "container">
        <h1> Support the cause!!!</h1>

        <h2>Recent Donators:</h2>
        {% for recent in recent: %}
            Thank you {{recent.name}} for your donation! <br>
        {% endfor %}

        {% extends "layout.html" %}
        {% block content %}

        <h3> Please select the amount of your donation.</h3>
        <form action="/charge" method="post">
            <article>
                <label>
                    $<input type="text" name="amount">.00
                    <input type="text" name="name">Name
                </label>
            </article>

        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="{{ key }}"
            data-description="Donations"
            data-amount="amount"
            data-locale="auto"></script>
        </form>
    </div>
    {% endblock %}

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename="bower_components/Materialize/dist/js/materialize.min.js") }}"></script>
</body>
